* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.banner {
    width: 800px;
    height: 500px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}

.container {
    width: 10000px;
    height: 100%;
}

.slide {
    width: 800px;
    height: 100%;
    float: left;
}
.slide img {
    width: 240px;
    height: 480px;
    margin: 10px 13px;
    float: left;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 50px;
    opacity: 0;
    transition: opacity 1s;
}
.next {
    right: 10px;
}
.page {
    position: absolute;
    bottom: 20px;
    transform: translate(-50%, 0);
    left: 50%;
    opacity: 0;
    transition: opacity 1s;
}
.page li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0 10px;
}

.page li.active {
    background: red;
}

.banner:hover .prev,
.banner:hover .next,
.banner:hover .page {
    opacity: 1;
}
